<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- For Window Tab Color -->
		<!-- Chrome, Firefox OS and Opera -->
		<meta name="theme-color" content="#061948">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#061948">
		<!-- iOS Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#061948">
		<title>Raki International | WelCome and Namaste</title>
		<!-- Favicon -->
		<link rel="icon" type="image/png" sizes="56x56" href="images/fav-icon/icon.png">
		<link rel="stylesheet" href='https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/css/lightgallery.css'>
		<!-- Main style sheet -->
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<!-- responsive style sheet -->
		<link rel="stylesheet" type="text/css" href="css/responsive.css">

	</head>

	<body>
		<div class="main-page-wrapper">

			<!-- 
			=============================================
				Theme Header One
			============================================== 
			-->
			<header class="header-one">
				<div class="top-header">
					<div class="container clearfix">
						<div class="logo float-left"><a href="index.html"><img src="images/logo/logo.png" alt=""></a></div>
						<div class="address-wrapper float-right">
							<ul>
								<li class="address">
									<i class="icon flaticon-placeholder"></i>
									<h6>Nagarjun-9, Syuchatar</h6>
									<p>Kathmandu, Nepal</p>
								</li>
								<li class="address">
									<i class="icon flaticon-multimedia"></i>
									<h6><a href="tel:015224502">01-5224502</a>	/	<a href="tel:015224503">5224503</a></h6>
									<p><a href="mailto:info@rakiint.com.np">info@rakiint.com.np</a></p>
								</li>
								<li class="quotes"><a href="apply-form.html" target="_blank">Apply Now</a></li>
							</ul>
						</div> <!-- /.address-wrapper -->
					</div> <!-- /.container -->
				</div> <!-- /.top-header -->

				<div class="theme-menu-wrapper">
					<div class="container">
						<div class="bg-wrapper clearfix">
							<!-- ============== Menu Warpper ================ -->
					   		<div class="menu-wrapper float-left">
					   			<nav id="mega-menu-holder" class="clearfix">
								   <ul class="clearfix">
									    <li class="active"><a href="index.html">Home</a></li>
									    <li><a href="#">About</a>
									    	<ul class="dropdown">
									    		<li><a href="#">Company Profile</a></li>
									    		<li><a href="#">Vision & Values</a></li>
									    		<li><a href="#">Our Approach</a></li>
									    		<li><a href="#">Industries We Serve</a></li>
									    		<li><a href="#">Organization Chart</a></li>
									    		<li><a href="#">Message From Chairman</a></li>
									    		<li><a href="#">License & Certificates</a></li>
									    		<li><a href="#">Awards</a></li>
									       </ul>
									    </li>
									    <li><a href="why-us.html">Why Us ?</a></li>
									    <li><a href="job-category.html">Job Category</a></li>
									     <li><a href="gallery.html">Gallery</a></li>
									    <li><a href="contact.html">contact</a></li>
								   </ul>
								</nav> <!-- /#mega-menu-holder -->
					   		</div> <!-- /.menu-wrapper -->

					   		<div class="right-widget float-right">
					   			<ul>
					   				<li class="social-icon">
					   					<ul>
											<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
										</ul>
					   				</li>
					   			</ul>
					   		</div> <!-- /.right-widget -->
						</div> <!-- /.bg-wrapper -->
					</div> <!-- /.container -->
				</div> <!-- /.theme-menu-wrapper -->
			</header> <!-- /.header-one -->

			
			<!-- 
			=============================================
				Theme Inner Banner
			============================================== 
			-->
			<div class="theme-inner-banner">
				<div class="overlay">
					<div class="container">
						<h2>Gallery</h2>
					</div> <!-- /.container -->
				</div> <!-- /.overlay -->
			</div> <!-- /.theme-inner-banner -->


			<!-- 
			=============================================
				gallery
			============================================== 
			-->
			<section class="section-spacing">
				<div class="container">
					<div class="gallery-view">
		                <div class="row" id="lightgallery"> 
		                    <div class="item col-md-3" data-src="images/home/1.jpg" data-sub-html="<h4>Raki International Pvt. Ltd.</h4>">
		                        <a href="">
		                            <img src="images/home/1.jpg" alt="Raki International Pvt. Ltd."/>
		                            <div class="gallery-overlay"><img src="images/home/plus.png"></div>
		                        </a>
		                    </div>
		                    <div class="item col-md-3" data-src="images/home/1.jpg" data-sub-html="<h4>Raki International Pvt. Ltd.</h4>">
		                        <a href="">
		                            <img src="images/home/1.jpg" alt="Raki International Pvt. Ltd."/>
		                            <div class="gallery-overlay"><img src="images/home/plus.png"></div>
		                        </a>
		                    </div>
		                    <div class="item col-md-3" data-src="images/home/1.jpg" data-sub-html="<h4>Raki International Pvt. Ltd.</h4>">
		                        <a href="">
		                            <img src="images/home/1.jpg" alt="Raki International Pvt. Ltd."/>
		                            <div class="gallery-overlay"><img src="images/home/plus.png"></div>
		                        </a>
		                    </div>
		                    <div class="item col-md-3" data-src="images/home/1.jpg" data-sub-html="<h4>Raki International Pvt. Ltd.</h4>">
		                        <a href="">
		                            <img src="images/home/1.jpg" alt="Raki International Pvt. Ltd."/>
		                            <div class="gallery-overlay"><img src="images/home/plus.png"></div>
		                        </a>
		                    </div>
		                    <div class="item col-md-3" data-src="images/home/1.jpg" data-sub-html="<h4>Raki International Pvt. Ltd.</h4>">
		                        <a href="">
		                            <img src="images/home/1.jpg" alt="Raki International Pvt. Ltd."/>
		                            <div class="gallery-overlay"><img src="images/home/plus.png"></div>
		                        </a>
		                    </div>
		                    <div class="item col-md-3" data-src="images/home/1.jpg" data-sub-html="<h4>Raki International Pvt. Ltd.</h4>">
		                        <a href="">
		                            <img src="images/home/1.jpg" alt="Raki International Pvt. Ltd."/>
		                            <div class="gallery-overlay"><img src="images/home/plus.png"></div>
		                        </a>
		                    </div>
		                    <div class="item col-md-3" data-src="images/home/1.jpg" data-sub-html="<h4>Raki International Pvt. Ltd.</h4>">
		                        <a href="">
		                            <img src="images/home/1.jpg" alt="Raki International Pvt. Ltd."/>
		                            <div class="gallery-overlay"><img src="images/home/plus.png"></div>
		                        </a>
		                    </div>
		                    <div class="item col-md-3" data-src="images/home/1.jpg" data-sub-html="<h4>Raki International Pvt. Ltd.</h4>">
		                        <a href="">
		                            <img src="images/home/1.jpg" alt="Raki International Pvt. Ltd."/>
		                            <div class="gallery-overlay"><img src="images/home/plus.png"></div>
		                        </a>
		                    </div>
		                    <div class="item col-md-3" data-src="images/home/1.jpg" data-sub-html="<h4>Raki International Pvt. Ltd.</h4>">
		                        <a href="">
		                            <img src="images/home/1.jpg" alt="Raki International Pvt. Ltd."/>
		                            <div class="gallery-overlay"><img src="images/home/plus.png"></div>
		                        </a>
		                    </div>
		                    <div class="item col-md-3" data-src="images/home/1.jpg" data-sub-html="<h4>Raki International Pvt. Ltd.</h4>">
		                        <a href="">
		                            <img src="images/home/1.jpg" alt="Raki International Pvt. Ltd."/>
		                            <div class="gallery-overlay"><img src="images/home/plus.png"></div>
		                        </a>
		                    </div>
		                    <div class="item col-md-3" data-src="images/home/1.jpg" data-sub-html="<h4>Raki International Pvt. Ltd.</h4>">
		                        <a href="">
		                            <img src="images/home/1.jpg" alt="Raki International Pvt. Ltd."/>
		                            <div class="gallery-overlay"><img src="images/home/plus.png"></div>
		                        </a>
		                    </div>
		                    <div class="item col-md-3" data-src="images/home/1.jpg" data-sub-html="<h4>Raki International Pvt. Ltd.</h4>">
		                        <a href="">
		                            <img src="images/home/1.jpg" alt="Raki International Pvt. Ltd."/>
		                            <div class="gallery-overlay"><img src="images/home/plus.png"></div>
		                        </a>
		                    </div>
		                </div>
		            </div>
          		</div>
			</section>
			<!-- 
			=============================================
				gallery
			============================================== 
			-->



			<!--
			=====================================================
				Partner Slider
			=====================================================
			-->
			<div class="partner-section bg-color">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-12">
							<div class="partner-slider">
								<div class="item"><img src="images/logo/p-1.png" alt=""></div>
								<div class="item"><img src="images/logo/p-2.png" alt=""></div>
								<div class="item"><img src="images/logo/p-3.png" alt=""></div>
								<div class="item"><img src="images/logo/p-4.png" alt=""></div>
								<div class="item"><img src="images/logo/p-5.png" alt=""></div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- /.partner-section -->


			<!--
			=====================================================
				Footer
			=====================================================
			-->
			<footer class="theme-footer-two">
				<div class="top-footer">
					<div class="container">
						<div class="row">
							<div class="col-lg-4 col-sm-6 col-12 logo-widget">
								<p>Premier human resource agency & placement consultants</p>
								<ul class="social-icon">
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								</ul>
							</div> <!-- /.logo-widget -->
							<div class="col-lg-2 col-sm-6 col-12 footer-list">
								<h6 class="title">EXPLORE</h6>
								<ul>
									<li><a href="inner.html">About us</a></li>
									<li><a href="why-us.html">Why Us?</a></li>
									<li><a href="job-category.html">Job Category</a></li>
									<li><a href="gallery.html">Gallery</a></li>
								</ul>
							</div> <!-- /.footer-list -->
							
							<div class="col-lg-3 col-sm-6 col-12 contact-widget">
								<h6 class="title">CONTACT</h6>
								<ul>
									<li>
										<i class="flaticon-direction-signs"></i>
										Syuchatar, Kathmandu, Nepal
									</li>
									<li>
										<i class="flaticon-multimedia-1"></i>
										<a href="mailto:info@rakiint.com.np">info@rakiint.com.np</a>
									</li>
									<li>
										<i class="fa fa-phone" aria-hidden="true"></i>
										<a href="tel:015224502">01-5224502</a> / <a href="tel:015224503">5224503</a>
									</li>
								</ul>
							</div> <!-- /.contact-widget -->

							<div class="col-lg-3 col-sm-6 col-12 location">
								<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7065.511178424314!2d85.281466!3d27.693948!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe25fdd5d858e0cbe!2sKalanki%20Bus%20Stop!5e0!3m2!1sen!2snp!4v1657621704385!5m2!1sen!2snp" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
							</div>
						</div> <!-- /.row -->
					</div> <!-- /.container -->
				</div> <!-- /.top-footer -->
				<div class="bottom-footer">
					<div class="container">
						<div class="copy-right">
							<p>All Rights Reserved 2022 © Raki International Pvt. Ltd. Developed by <a href="http://www.radiantnepal.com/" target="_blank">Radiant Infotech Nepal</a></p>
						</div>
					</div>
				</div> <!-- /.bottom-footer -->
			</footer><!-- /.theme-footer -->
			
	        <!-- Scroll Top Button -->
			<button class="scroll-top tran3s">
				<i class="fa fa-angle-up" aria-hidden="true"></i>
			</button>
			


		<!-- Optional JavaScript _____________________________  -->

    	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    	<!-- jQuery -->
		<script src="vendor/jquery.2.2.3.min.js"></script>
		<!-- Popper js -->
		<script src="vendor/popper.js/popper.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
		<!-- Camera Slider -->
		<script src='vendor/Camera-master/scripts/jquery.mobile.customized.min.js'></script>
	    <script src='vendor/Camera-master/scripts/jquery.easing.1.3.js'></script> 
	    <script src='vendor/Camera-master/scripts/camera.min.js'></script>
	    <!-- menu  -->
		<script src="vendor/menu/src/js/jquery.slimmenu.js"></script>
		<!-- WOW js -->
		<script src="vendor/WOW-master/dist/wow.min.js"></script>
		<!-- owl.carousel -->
		<script src="vendor/owl-carousel/owl.carousel.min.js"></script>
		<!-- js count to -->
		<script src="vendor/jquery.appear.js"></script>
		<script src="vendor/jquery.countTo.js"></script>
		<!-- Fancybox -->
		<script src="vendor/fancybox/dist/jquery.fancybox.min.js"></script>

		<!-- gllery js -->
	    <script src="js/gallery/picturefill.min.js"></script>
	    <script src="js/gallery/lightgallery.js"></script>
	    <script src="js/gallery/lg-pager.js"></script>
	    <script src="js/gallery/lg-autoplay.js"></script>
	    <script src="js/gallery/lg-fullscreen.js"></script>
	    <script src="js/gallery/lg-zoom.js"></script>
	    <script src="js/gallery/lg-hash.js"></script>
	    <script src="js/gallery/lg-share.js"></script>
	    <!--End gllery js -->

		<!-- Theme js -->
		<script src="js/theme.js"></script>

		<script>
        lightGallery(document.getElementById('lightgallery'));

        $(function() {
        var selectedClass = "";
        $(".filter").click(function(){
        selectedClass = $(this).attr("data-rel");
        $("#lightgallery").fadeTo(100, 0.1);
        $("#lightgallery div").not("."+selectedClass).fadeOut().removeClass('animation');
        setTimeout(function() {
        $("."+selectedClass).fadeIn().addClass('animation');
        $("#lightgallery").fadeTo(300, 1);
        }, 300);
        });
        });
    	</script>

		</div> <!-- /.main-page-wrapper -->
	</body>
</html>